<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    <ul>
        {% for movie in object_list %}
            <li>
                <a href="{% url 'movie-detail' movie.pk %}">{{ movie.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'account_login' %}">Login</a></p>
    <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
</body>
</html>